:root {
  --color-white: #ffffff;
  --color-black-primary: #000000;
  --color-black-secondary: #1a1a1a;
  --color-black-tertiary: #2d2d2d;
  --color-grey-primary: #e5e7eb;
  --color-grey-secondary: #d1d5db;
  --color-grey-tertiary: #9ca3af;
  --color-neutral-900: #111827;
  --color-neutral-950: #030712;
  --color-rose-700: #be123c;
  --button-ghost-state-hovered: rgba(209, 213, 220, 0.10);
  --button-ghost-state-pressed: #d1d5dc33;
  --button-ghost-text: #2d2d2d;
  --button-ghost-icon: #2d2d2d;
  --button-primary-state-hovered: #111827;
  --button-primary-state-pressed: #030712;
  --button-primary-state-default: #2d2d2d;
  --button-primary-text: #ffffff;
  --button-primary-icon: #ffffff;
  --button-secondary-state-default: #e5e7eb;
  --button-secondary-state-hovered: #e6e6e7;
  --button-secondary-state-pressed: #dadadb;
  --button-secondary-text: #1a1a1a;
  --button-secondary-icon: #1a1a1a;
  --button-ghost-destructive-state-hovered: #c700361a;
  --button-ghost-destructive-state-pressed: #c7003633;
  --button-ghost-destructive-text: #be123c;
  --button-ghost-destructive-icon: #be123c;
  --button-disabled-state-default: #d1d5db;
  --button-disabled-state-hovered: #d1d5db;
  --button-disabled-state-pressed: #d1d5db;
  --button-disabled-text: #e5e7eb;
  --button-disabled-icon: #e5e7eb;
  --nav-bg: rgba(255, 255, 255, 0.8);
  --tag-primary-bg: #2d2d2d;
  --tag-primary-icon: #ffffff;
  --tag-primary-first-text: #ffffff;
  --tag-primary-second-text: #d1d5db;
  --tag-primary-border: #2d2d2d;
  --tag-secondary-bg: #ffffff;
  --tag-secondary-icon: #2d2d2d;
  --tag-secondary-first-text: #2d2d2d;
  --tag-secondary-second-text: #9ca3af;
  --tag-secondary-border: #d1d5db;
  --input-state-border-default: #e5e7eb;
  --input-state-border-hovered: #d1d5db;
  --input-state-border-clicked: #d1d5db;
  --input-state-text-default: #e5e7eb;
  --input-state-text-hovered: #d1d5db;
  --input-state-text-clicked: #9ca3af;
  --input-state-text-typing: #2d2d2d;
  --input-bg: #ffffff;
}
